@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&family=Montserrat:wght@200&display=swap');

$color-font-white: #ffffff;
$color-font-green: #27A376;
$color-font-black: #111827;
$color-font-grey-subtitle: #687588;
$color-font-grey: #A0AEC0;
$color-input-grey: #E9EAEC;
$color-green: #00A19B;
$color-black: #111827;
$color-success: #0CAF60;
$color-error: #E03137;
$color-red: $color-error;
$color-white:#ffffff;
$color-blue: #2F78EE;
$color-background-view: #fafafa;
$color-backgroud-name-user: #eb6f25;
$color-border-button: #f1f2f4;

$fw-regular:400;
$fw-semiRegular:500;
$fw-bold:700;
